*, *: before, *: after {
  box-sizing: border-box;
}

html {
  overflow-y: scroll;
}

body {
  /*background: #c1bdba;*/
  font-family: 'Titillium Web', sans-serif;
}

a {
  text-decoration: none;
  color: black;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}
a:hover {
  color: #179b77;
}



.form{
  float: left;
}
.form2 {
  float: right;
}
.form {
  /*background: rgba(19, 35, 47, 0.9);*/
  padding: 40px;
  max-width: 350px;
  border-radius: 4px;
  box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
}
.form2 {
  margin-left: 20px;
  padding: 40px;
  width: 820px;
  border-radius: 4px;
  box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
}

.interface {
  content: "";
  display: table;
  clear: both;
}
.nav {
   display: flex;
   flex-flow: row wrap;
   list-style: none;
}


.navi1 {
  margin-left: 300px;
}
.nav li a {
  margin-top: 80px;
  flex: 33%;
  text-decoration: none;
  padding: 15px;
  color: black;
  font-size: 15px;
  float: left;
  width: 33%;
  text-align: center;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

.nav li a:hover {
  color: #179b77;
}
.tab-group {
  list-style: none;
  padding: 0;
  margin: 0 0 40px 0;
}
.tab-group: after {
  content: "";
  display: table;
  clear: both;
}

.tab-group li a {
  display: block;
  text-decoration: none;
  padding: 15px;
  background: rgba(160, 179, 176, 0.25);
  color: black;
  font-size: 15px;
  float: left;
  width: 50%;
  text-align: center;
  cursor: pointer;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

.tab-group li a:hover {
  background: black;
  color: #ffffff;
}
.tab-group .active a {
  background: #3d3b37;
  color: #ffffff;
}

.tab-group2 {
  list-style: none;
  padding: 0;
  margin: 0 0 40px 0;
}
.tab-group2: after {
  content: "";
  display: table;
  clear: both;
}
.tab-group2 li a {
  display: block;
  text-decoration: none;
  padding: 15px;
  background: rgba(160, 179, 176, 0.25);
  color: black;
  font-size: 15px;
  float: left;
  width: 33%;
  text-align: center;
  cursor: pointer;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}


.tab-group2 li a:hover {
  background: black;
  color: #ffffff;
}
.tab-group2 .active2 a {
  background: #3d3b37;
  color: #ffffff;
}

.tab-content > div:last-child {
  display: none;

}
.tab-content2 > div:last-child {
  display: none;

}

.interface {
  /*border: 3px solid red;*/
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

h1 {
  text-align: center;
  color: black;
  font-weight: 300;
  margin-top: 80px;

}

label {
  position: absolute;
  -webkit-transform: translateY(6px);
          transform: translateY(6px);
  left: 13px;
  color: black;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  -webkit-backface-visibility: hidden;
  pointer-events: none;
  font-size: 22px;
}
label .req {
  margin: 2px;
  color: red;
}

label.active {
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
  left: 2px;
  font-size: 14px;
}

label.active2 {
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
  left: 2px;
  font-size: 14px;
}

label.active .req {
  opacity: 0;
}
label.active2 .req {
  opacity: 0;
}

label.highlight {
  color: black;
}

input, textarea {
  font-size: 22px;
  display: block;
  width: 100%;
  height: 100%;
  padding: 5px 10px;
  background: none;
  background-image: none;
  border: 1px solid #a0b3b0;
  color: black;
  border-radius: 0;
  -webkit-transition: border-color .25s ease, box-shadow .25s ease;
  transition: border-color .25s ease, box-shadow .25s ease;
}
input:focus, textarea:focus {
  outline: 0;
  border-color: black;
}

textarea {
  border: 2px solid black;
  resize: vertical;
}

.field-wrap {
  position: relative;
  margin-bottom: 40px;
}

.top-row: after {
  content: "";
  display: table;
  clear: both;
}
.top-row > div {
  float: left;
  width: 48%;
  margin-right: 4%;
}
.top-row > div:last-child {
  margin: 0;
}

.field-wrap2 {
  position: relative;
  margin-bottom: 40px;
}

.top-row2: after {
  content: "";
  display: table;
  clear: both;
}
.top-row2 > div {
  float: left;
  width: 30%;
  margin-right: 4%;
}
.top-row2 > div:last-child {
  margin: 0;
}

.button {
  border: 0;
  outline: none;
  border-radius: 0;
  padding: 15px 0;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .1em;
  background: #3d3b37;
  color: #ffffff;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-appearance: none;
}
.button:hover, .button:focus {
  background: black;
}

.button-block {
  display: block;
  width: 100%;
}

.button2 {
  border: 0;
  outline: none;
  border-radius: 0;
  padding: 15px 0;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .1em;
  background: #3d3b37;
  color: #ffffff;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-appearance: none;
  max-width: 250px;
  margin-left: auto;
  margin-right: auto;
}
.button2:hover, .button2:focus {
  background: black;
}
.buttonre {
  margin-top: 86px;
}

.button-block2 {
  display: block;
  width: 100%;
}

.forgot, .navi, .navi1 {
  margin-top: -20px;
  text-align: right;
}

p {
  color: grey;
}