hr {
  margin-left: 40px;
  margin-right: 40px;
}

.dropdown-menu {
    margin-top: 30px;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 300px;
    min-height: 500px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-menu a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.form-horizontal button {
  display: block;
  height: 40px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  border: none;
  font-size: 15px;
}
.first-row {
  margin-top: 20px;
}

.dropdown-menu .radio {
  margin-left: 40px;
  margin-bottom: 30px;
  display: inline;
}

.dropdown-menu .login-btn {
  background-color: #ffc601;
}

.form-horizontal .input_style {
  display: block;
  margin-bottom: 10px;
  width: 80%;
  margin-left: auto;
  margin-right: auto; 

}
.dropdown-menu .signup-btn {
  background-color: #13448f;
  margin-bottom: 20px;
  color: white;
}

.dropdownContainer {
    position: relative;
    display: inline-block;
}

.dropdownContainer a:hover {background-color: #f1f1f1}
.dropdownContainer a, .dropdownContainer li {
    list-style-type: none;
    text-decoration: none;
}

input[type="text"], input[type="password"] {
  height: 40px;
}
.dropbtn {
    background-color: #f0f1f4;
    /* padding: 16px; */
    color: #13448f;
    font-size: 15px;
    border: none;
    cursor: pointer;
    width: 200px; 
    height: 30px; 
    display: flex;
    align-items: center;
    justify-content: center;

}

.dropbtn:hover, .dropbtn:focus {
    background-color: #aaaaaa;
}