.header .logo {
	width: 120px;
	height: 120px;
	background: #1a6dfa;
}

.header {
	display: flex;
	/* float: left; */
	width: 80%;
	margin-left: 150px;
	align-items: center;
	/* justify-content: center; */
	/* background: #1a6dfa; */
	/* border: 1px solid black; */
}
.header .home {
	margin-left: 60%;

}
.header .home a {
	color: black;
	text-decoration: none;
	font-size: 1.2em;
	font-weight: bold;
}
.header .home a:hover {
	color: #13448f;

}

td {
	background: #f1f4f8;

}

form input[type="submit"] {
	background-color: #ffc601;
	border: none;
	width: 80%;
}

form input[type="submit"]:hover {
	color: #13448f;
}
.progress {
	height: 40px;
	background: white;
	width: 100%;
	display: flex;
	border: none;
}
.pacman {
    width: 0px;
    height: 0px;
    border-right: 12px solid transparent;
    border-top: 12px solid #eeeeee;
    border-left: 12px solid #eeeeee;
    border-bottom: 12px solid #eeeeee;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    margin-left: 100px;
 /*    display: inline; */
}
.active {
	width: 0px;
    height: 0px;
    border-right: 12px solid transparent;
    border-top: 12px solid #012f64;
    border-left: 12px solid #012f64;
    border-bottom: 12px solid #012f64;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    margin-left: 170px;
}